<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <title>Alreadydone</title>
  </head>
  <body style="background-color:#f8dc81;font-family: 'Playfair Display', serif; text-align:center">
    <h1>Already applied for the Job.</h1>
    <h2>Wait for interview Call</h2>
  </body>
</html>
