<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Job</title>
  </head>
  <body>
    <h1>Post a Job</h1>
    <form class="" action="/company" method="post">
      Company Name: <input type="text" name="company" value=""> <br>
      Job Title: <input type="text" name="jobtitle" value=""><br>
      Work Experience: <input type="text" name="wexperience" value=""><br>
      Location: <input type="text" name="location" value=""><br>
      Post: <input type="text" name="post" value=""><br>
      Salary: <input type="text" name="salary" value=""><br>
      Description: <textarea name="description" rows="4" cols="80"></textarea> <br>
      <button type="submit" name="button">Go</button>
        </form>
  </body>
</html>
