<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/company_login.css" />
    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- End Semantic UI -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!-- mdBootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <!-- End mdBootstrap -->
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Playfair+Display&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>

<body>
    <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid ">
            <div class="column">
                <% if(msg===1) { %>
                    <a id="warn" class="ui red tag label">Given details are incorrect</a>
                    <% } %>
                        <form class="ui fluid form" action="/login_details_check" method="post">
                            <div class="field">
                                <label>CIN Number</label>
                                <div class="ui left icon input ">
                                    <input name="cin_num" id="cin" type="text" placeholder="CIN Number">
                                    <i class="user icon"></i>
                                </div>
                                <div class="ui pointing red basic label cin_vaild">
                                    Please Enter Valid CIN Number
                                </div>
                            </div>

                            <div class="field">
                                <label>Email</label>
                                <div class="ui left icon input ">
                                    <input name="email" id="user" type="text" placeholder="Username">
                                    <i class="user icon"></i>
                                </div>
                                <div class="ui pointing red basic label user_vaild">
                                    Please Enter Username
                                </div>
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <div class="ui left icon input">
                                    <input name="pass" id="pass" type="password" placeholder="Password">
                                    <i class="lock icon"></i>
                                </div>
                                <div class="ui pointing red basic label pass_vaild">
                                    Please Enter Password
                                </div>
                            </div>
                            <div id="login" class="ui blue submit button btn">Login</div>
                            <button id="login1" class="ui blue loading button btn">Loading</button>
                        </form>
            </div>
            <div class="column" style="padding-top: 2em;">
                <div>
                    <h5 style="font-family: 'Playfair Display', serif;; font-weight: 600;font-size: 1.5em; text-align: center;">If You have Not Registered Before</h5><br/>
                    <h4 style="font-family: 'Italianno', cursive; font-weight: 500;font-size: 2em; text-align: center;">Register Here</h4>
                </div>
                <div id="signup" class="ui big button btn btn-outline-primary">
                    <i class="signup icon"></i> Sign Up
                </div>

            </div>
        </div>
        <div class="ui vertical divider">
            Or
        </div>
    </div>
    <script>
        $(document).ready(() => {
            $(".cin_vaild").hide();
            $(".user_vaild").hide();
            $(".pass_vaild").hide();
            $("#login1").hide();
        })
        $("#signup").click(() => {
            window.location.href = "/company_registration"
        })
        $("#cin").change(() => {
            const value = $("#cin").val()
            if (value === "") {
                $(".cin_vaild").show();
            } else {
                $(".cin_vaild").hide();
            }
        })
        $("#user").change(() => {
            const value = $("#user").val()
            if (value === "") {
                $(".user_vaild").show();
            } else {
                $(".user_vaild").hide();
            }
        })
        $("#pass").change(() => {
            const value = $("#pass").val()
            if (value === "") {
                $(".pass_vaild").show();
            } else {
                $(".pass_vaild").hide();
            }
        })
        $("#login").click(() => {
            const value1 = $("#cin").val()
            const value2 = $("#user").val()
            const value3 = $("#pass").val()
            if (value1 === "" && value2 === "" && value3 === "") {
                $(".cin_vaild").show();
                $(".user_vaild").show();
                $(".pass_vaild").show();
            } else if (value1 === "") {
                $(".cin_vaild").show();
                if (value2 === "") {
                    $(".user_vaild").show();
                } else if (value3 === "") {
                    $(".pass_vaild").show();
                }
            } else if (value2 === "") {
                $(".user_vaild").show();
                if (value1 === "") {
                    $(".cin_vaild").show();
                } else if (value3 === "") {
                    $(".pass_vaild").show();
                }
            } else if (value3 === "") {
                $(".pass_vaild").show();
                if (value1 === "") {
                    $(".cin_vaild").show();
                } else if (value2 === "") {
                    $(".user_vaild").show();
                }
            } else {
                $("#login").hide();
                $("#login1").show();
                setTimeout(function() {
                    $('form').submit();
                }, 2000);
            }
        })
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>