<%- include("login-page-basic") -%>
<body style="background-image:url(https://cdn1.vectorstock.com/i/1000x1000/51/50/poster-job-opening-turquoise-bubble-background-vector-25915150.jpg)">
	
		<h1 class="d-flex justify-content-center">Welcome To Hierer</h1>
	<hr style="width:40%;text-align:center;border-width:0.3rem">
	<div class="row mx-md-n5 d-flex justify-content-center">
		
		<div style="margin:20px;color:white; background-image:url(https://www.aelmarkhams.co.uk/wp-content/uploads/2017/12/jobs-background-image.jpg)" class="col-md-5 shadow-lg p-3 mb-5 bg-white rounded p-3 border bg-light">
			<div style="padding:20px">
				<h2 class="text-center">For New Hirer</h2>
				<%=msg%>
				<hr style="width:60%;border-color:red;text-align:center;border-width:0.3rem">
			<h6 class="text-center ">"It doesn’t make sense to hire smart people and then tell them what to do; we hire smart people so they can tell us what to do.”</h6> 
			<h4 class="text-center">-Steve Jobs</h4><br>
				<p class="text-center">Here All Company Give Equal Opportunity Employer and Prohibits Discrimination and Harassment of Any Kind: All Comapny is committed to the principle of equal employment opportunity for all employees and to providing employees with a work environment free of discrimination and harassment.</p> 
				
			
			<form action="/registration" method="post">
				<div class="text-center">
            <button type="submit" class="btn btn-info">Register Yourself Here</button>
          </div>
			</form>
			</div>
		</div>
	</div>
</body>
</html>