
<%- include("header") -%>
     <h1 style="font-family: 'Texturina', serif; font-style:bold;">Looking for a Job</h1>
     <h2 style="font-family: 'Lora', serif; font-size:1.8rem;">Find a perfect job that suits you!</h2>
     <div class="companylogin">
       <h2 style="font-family: 'Abril Fatface', cursive;">For Company</h2>
       <form class="" action="/" method="post">
         <%=message%>
       <h4 style="font-family: 'Lora', serif;">Post a Job</h4>
        <button type="submit" class="btn btn-success btn-lg" style="font-family: 'Hind Madurai', sans-serif; font-size: 1.5rem">Start Hiring</button>
       </form>
     </div>
     <div class="employeelogin">
       <h2 style="font-family: 'Abril Fatface', cursive;">For Employee</h2>
       <%=quote%>
       <div class="card cardlogin" style="border-radius: 20px;">
     <div class="card-body">
       <form class="formlogin" action="/login" method="post">
         <div style="font-family: 'Fraunces', serif; font-weight: bold">
       <label for="exampleInputEmail1" class="form-label">Email address</label>
       <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
       <label for="exampleInputPassword1" class="form-label">Password</label>
       <input type="password" name="password" class="form-control" id="exampleInputPassword1">
         <br>
     <button type="submit" class="btn btn-primary btn-lg">Login</button>
     </div>
   </form>
     </div>
   </div>
     </div>
     </div>
     </body>
     </html>
