<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <%=quote%>
    <form action="/login" method="post">
      Email: <input type="email" name="email" value="">
    <br>
  Password: <input type="password" name="password" value="">
<br>
<button type="submit" name="button">Login</button></form>
  </body>
</html>
