.hreflink {
    margin-left: 395px;
}

.navheader {
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 2rem
}

.bodycss {
    background-image: url("/images/job.jpg");
    background-repeat: no-repeat;
    background-size: 1550px 750px;
}

.companylogin {
    margin-left: 1050px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.employeelogin {
    margin-left: 1050px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.formcreate {
    display: inline-block;
}

.formcreate input,
.formlogin input {
    width: 300px;
}

.formcreate div {
    display: inline-block;
}

.cardregister {
    display: inline-block;
    border-radius: 5%;
    margin-left: 560px;
    margin-top: 200px;
}

.registerheading {
    margin-left: 585px;
    position: absolute;
    top: 120px;
}

p.registerheading {
    margin-left: 630px;
    color: red;
    position: absolute;
    top: 170px;
}

.cardsuccess {
    display: inline-block;
}

.jobdiv {
    background-color: white;
    display: inline-block;
    margin-left: 250px;
    width: 65%;
    padding: 20px;
    border-radius: 5%;
}

.jobdiv input {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
}

.jobdiv label {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width: 55px;
    font-family: 'Imbue', serif;
    font-size: 1.2rem;
}

.jobdiv h2 {
    font-family: 'Yusei Magic', sans-serif;
    margin-top: 10px;
}


/*
Thanks to: Usama Tahir
https://medium.com/@AmJustSam
*/

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}


/* CSS which you need for blurred box */

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url(http://bit.ly/2gPLxZ4);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.blurred-box {
    position: relative;
    width: 250px;
    height: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
}

.blurred-box:after {
    content: '';
    width: 300px;
    height: 300px;
    background: inherit;
    position: absolute;
    left: -25px;
    /* left, position right: 0; */
    /* top: -25px;
 top position */
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(10px);
}


/* Form which you dont need */

.user-login-box {
    position: relative;
    margin-top: 50px;
    text-align: center;
    z-index: 1;
}

.user-login-box>* {
    display: inline-block;
    width: 200px;
}

.user-icon {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background-size: contain;
    background-image: url(https://pbs.twimg.com/profile_images/725321660484583424/ArQ4fM3k.jpg);
}

.user-name {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

input.user-password {
    width: 120px;
    height: 18px;
    opacity: 0.4;
    border-radius: 2px;
    padding: 5px 15px;
    border: 0;
}